* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #666769;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #666769;
}
img {
  height: 70px;
  cursor: pointer;
}
ul li {
  display: inline-block;
  padding: 0 20px;
}
ul li a {
  transition: all 0.3s ease 0s;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
button {
  padding: 9px 25px;
  background-color: #44b0b4;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #ffff;
  font-size: 17px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
button:hover {
  background-color: teal;
}
ul li a:hover {
  color: #44b0b4;
}

.div1 {
  height: 560px;
  width: 100%;
  background-color: #8b8b8b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box1 {
  height: 400px;
  width: 700px;
  background-color: #037074;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px solid #000000;
  box-shadow: 4px 8px #000000;
  position: relative;
  left: 15%;
  transition: all 0.5s;
}
.box1 img {
  height: 380px;
  width: auto;
}
.box1:hover {
  transform: scale(1.05);
}
.box2 {
  height: 270px;
  width: 270px;
  background-color: #44b0b4;
  margin: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px solid #000000;
  box-shadow: 4px 8px #000000;
  position: relative;
  right: 7%;
  top: -48px;
  transition: 0.5s ease;
}
.box2 p {
  font-size: 18px;
}
.box2:hover {
  background-color: #397739;
}
.div2 {
  height: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text1 {
  background-color: #59595a;
  border: 2.5px solid #000000;
  box-shadow: 4px 8px #000000;
  padding: 20px;
  margin: 40px;

  transition: 0.5s ease;
}
.text1:hover {
  box-shadow: 4px 4px 40px teal;
}
.text1 h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-shadow: 4px 4px 20px;
}
.text1 p {
  font-size: 18px;
}
.img1 {
  background-color: teal;
  border: 2.5px solid #000000;
  box-shadow: 4px 8px #000000;
  padding: 15px;
  margin: 40px;
  transition: 0.5s ease;
}
.img1:hover {
  box-shadow: 4px 4px 40px #000000;
  transform: translateY(10px);
}
.img1 img {
  height: 280px;
}
.div3 {
  height: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #80888d;
}

.text2 {
  background-color: #666769;
  border: 2.5px solid #000000;
  box-shadow: 4px 8px #000000;
  padding: 20px;
  margin: 40px;
  transition: 0.5s ease;
}
.text2:hover {
  box-shadow: 4px 4px 40px teal;
}
.text2 h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-shadow: 4px 4px 20px;
}
.text2 p {
  font-size: 18px;
}
.text2 button {
  position: relative;
  left: 40%;
}
.img2 {
  background-color: #69cacf;
  border: 2.5px solid #000000;
  box-shadow: 4px 8px #000000;
  padding: 15px;
  margin: 40px;
  transition: 0.5s ease;
}
.img2:hover {
  box-shadow: 4px 4px 40px #000000;
  transform: translateY(10px);
}
.img2 img {
  height: 280px;
}
footer {
  height: 120px;
  width: 100%;
  background-color: #80888d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10% 20px;
  color: #ffff;
  text-shadow: 4px 4px 10px #000000;
}
footer div {
  text-align: center;
  justify-content: center;
}
.footer1 img {
  height: 100px;
  transition: all 0.5s;
}
.footer2 {
  font-size: 18px;
  transition: all 0.5s;
}

.footer2 h1,
.footer3 h1 {
  font-size: 36px;
}
.footer3 a img {
  height: 40px;
  padding: 2px;
  transition: all 0.5s;
}
.footer3 h1 {
  transition: all 0.5s;
}
.footer3 a img:hover,
.footer3 h1:hover,
.footer2:hover,
.footer1 img:hover {
  transform: translateY(10px);
}
